# Pandas

> *Nota*: Los contenidos de esta sección fueron tomados de un tutorial dictado por Brandon Rhodes para la conferencia Pycon 2015. El contenido original puede verse [aquí](https://github.com/brandon-rhodes/pycon-pandas-tutorial).

Pandas es la librería más utilizada en Python para cargar, limpiar y analizar datos.

Para entender mejor todo lo que hace esta librería, puede decirse que Pandas es una especie de "Excel programable". Es decir, con Pandas es posible realizar las operaciones de filtrado, agrupación y análisis que es posible realizar en Excel, pero de forma programática y pudiendo abarcar conjuntos de datos con millones de filas y cientos de columnas en una sola operación.

En esta sección veremos algunas de las operaciones más utlizadas en Pandas. Para empezar, ...

La convención para importar Pandas es la siguiente:

In [2]:
import pandas as pd

## 1. Cargar datos

Pandas cuenta con una gran variedad de funciones para cargar datos desde distintas fuentes. Algunas de ellas son

    read_clipboard
    read_csv
    read_excel
    read_html
    read_json
    read_sas
    read_sql
    read_stata

El conjunto de datos con los que vamos a trabajar en este módulo están guardados en formato *CSV* (comma-separated values), un formato de texto plano bastante usado por su sencillez. Por ello vamos a usar la función `read_csv`.

Este conjunto corresponde a los títulos y actores de todas las películas de la historia del cine, el cual, para los estándares de hoy, es bastante pequeño (217.000 películas y 3'350.000 actores aproximadamente).

In [3]:
titulos = pd.read_csv('data/titles.csv')

In [5]:
actores = pd.read_csv('data/cast.csv')

## 2. Inspeccionar los contenidos de un Dataframe

La estructura de datos más importante de Pandas se conoce como Dataframe, y es la que se crea por defecto después de usar `read_csv`. En esta sección veremos algunas operaciones básicas para inspeccionar sus contenidos.

Si se está trabajando en el notebook, es posible evaluar un Dataframe en una celda, lo cual retorna una representación en forma de tabla del mismo, así:

In [7]:
titulos

                                     title  year
0                           The Rising Son  1990
1                        Ashes of Kukulcan  2016
2                  The Thousand Plane Raid  1969
3                         Crucea de piatra  1993
4                                   The 86  2015
5                               Gaiking II  2011
6                              Medusa (IV)  2015
7           The Fresh Air Will Do You Good  2008
8                       Alex in Wonderland  1970
9                           Women's Prison  1955
10                  Do Outro Lado do Mundo  2008
11                         Severny variant  1974
12                           Charlie's Ear  1992
13                    Insaaf Main Karoonga  1985
14                               Hi, Buddy  1943
15                         Los siete locos  1973
16                              Panic Room  2002
17                   Io sono un autarchico  1976
18                  Shobhna's Seven Nights  2012
19                              Mahapurush  1965
20                        Maa Durga Shakti  1999
21                                  Patria  1917
22                          Passenger Side  2009
23                                 Country  2000
24             Ang pumatay ng dahil sa iyo  1989
25                    Conflict of Interest  1993
26                           The Syndicate  2011
27            Suzanne, professeur de flirt  1916
28                            Arrive Alive  1990
29                   Tera Mera Saath Rahen  2001
...                                    ...   ...
216985          Diary of a Mad Black Woman  2005
216986              The Second Coming (IV)  2014
216987              The Minister of Chance  2016
216988                          Dan xin pu  1980
216989                La zona del silencio  1990
216990                    Der Mann nebenan  1992
216991       The Legend of Kate Kensington  2015
216992                   Time of the Comet  2008
216993                           Agreement  1980
216994                 Monsters University  2013
216995               This Killing Business  2013
216996  Berlina - Eine Reise ins Ungewisse  1991
216997             Die Herrgottsgrenadiere  1932
216998             Meglio baciare un cobra  1986
216999                              Kvaska  2007
217000                        Counterpoint  1967
217001                      Den sidste dag  2004
217002          Take This Job and Shove It  1981
217003              Le temps de l'aventure  2013
217004                     The Dark Lights  2015
217005                             Frakchi  2004
217006         Clara no es nombre de mujer  2012
217007                             Benzina  2001
217008                  Kasaysayan ng lahi  1973
217009                      Hu tu nu si ji  1982
217010               Nobody Waved Good-bye  1964
217011                 Edge of the Unknown  2015
217012                               E yue  2005
217013                        Lakota Girls  2015
217014                        The Sting II  1983

[217015 rows x 2 columns]

Como se observa, esta operación no retorna todo el conjunto de títulos, sino tan sólo una pequeña fracción para inspeccionar sus contenidos.

Para observar los primeros títulos presentes en el Dataframe, se puede usar la operación `head`, así:

In [8]:
titulos.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [9]:
titulos.head(20)

                             title  year
0                   The Rising Son  1990
1                Ashes of Kukulcan  2016
2          The Thousand Plane Raid  1969
3                 Crucea de piatra  1993
4                           The 86  2015
5                       Gaiking II  2011
6                      Medusa (IV)  2015
7   The Fresh Air Will Do You Good  2008
8               Alex in Wonderland  1970
9                   Women's Prison  1955
10          Do Outro Lado do Mundo  2008
11                 Severny variant  1974
12                   Charlie's Ear  1992
13            Insaaf Main Karoonga  1985
14                       Hi, Buddy  1943
15                 Los siete locos  1973
16                      Panic Room  2002
17           Io sono un autarchico  1976
18          Shobhna's Seven Nights  2012
19                      Mahapurush  1965

Para observar los últimos títulos, se usa en cambio la operación `tail`:

In [ ]:
titulos.tail()

In [ ]:
titulos.tail(10)

También es posible obtener la longitud de un Dataframe con `len`, lo cual nos retorna su número total de filas:

In [ ]:
len(titulos)

## 3. Filtrado de datos

In [ ]:
h = titles.head()

In [ ]:
h

In [ ]:
h['year']

In [ ]:
h.year

In [ ]:
h.year + 1000

In [ ]:
h.year - 2000

In [ ]:
h.year > 1960

In [ ]:
h[h.year > 1990]

In [ ]:
h[h.year > 1960 & h.year < 1970]

In [ ]:
h[(h.year > 1960) & (h.year < 1970)]

In [ ]:
h.year // 10 * 10

## 4. Clasificar datos

In [ ]:
titles.sort('title', ascending=True)

In [ ]:
titles.sort('year')

In [ ]:
titles.sort(['year', 'title'])

## 5. Métodos de cadenas

In [ ]:
h

In [ ]:
h[h.title.str.contains('86')]

In [ ]:
h.title.str.len()

## 6. Agregación

In [ ]:
titles.year.value_counts()

In [ ]:
titles.year.value_counts().plot()

In [ ]:
titles.year.value_counts().sort_index().plot()

In [ ]:
titles.year.value_counts().sort_index().plot(kind='bar')

## 7. Seleccionar columnas

In [ ]:
c = cast

In [ ]:
c = c[c.character == 'Kermit the Frog']

In [ ]:
c

In [ ]:
c = c[['year', 'n']]

In [ ]:
c

## 8. La operación `groupby`

In [ ]:
c = cast
c = c[c.name == 'Eddie Murphy']
c.head()

In [ ]:
d = c.groupby(['year', 'title']).size()
d

In [ ]:
d[d > 1]

In [ ]:
c = cast
c = c[c.name == 'George Clooney']
c.groupby([c.year // 10 * 10]).size()

In [ ]:
c = cast
c = c[c.name == 'George Clooney']
c.groupby(['year', 'title']).n.mean()

In [ ]:
c.groupby?

In [ ]:
c = cast
c = c[c.name == 'George Clooney']
c.groupby([c.year // 10 * 10]).size()

## 9. La operación `unstack`

In [ ]:
c = cast
c = c[(c.character == 'Kermit the Frog') | (c.character == 'Oscar the Grouch')]
g = c.groupby(['character', c.year // 10 * 10]).size()
g

How can we compare years?  Unstack!

In [ ]:
g.unstack('year')

In [ ]:
g.unstack('character')

In [ ]:
u = g.unstack('character')
u['difference'] = u['Kermit the Frog'] - u['Oscar the Grouch']
u

In [ ]:
u = g.unstack('character').fillna(0)
u['difference'] = u['Kermit the Frog'] - u['Oscar the Grouch']
u

Use `stack` to come back

In [ ]:
u.stack()

In [ ]:
u = g.unstack('character')
total = u['Oscar the Grouch'] + u['Kermit the Frog']
u['difference'] = u['Oscar the Grouch'] / total
u.difference.plot(ylim=[0,1])